<div class="servers-category" id="home-body">
  <h1>Most popular servers</h1>
  <% servers.forEach(function(server, index) { %>
  <div class="server" style="display: table; width: 100%; height: 101px !important; position: relative;">
    <div id="rank" style="display: table-cell; width: 80px; background-color: #444;">
      <h3 style="color: aliceblue; text-align: center; margin-bottom: 3px;">#<%= index + 1 %></h3>
      <h6 style="color: aliceblue; text-align: center; margin: 0px; margin-bottom: 5px;">rank</h6>
      <h4 style="color: aliceblue; text-align: center; margin: 0px;"><%= server.upvotes %></h4>
      <h6 style="color: aliceblue; text-align: center; margin-top: 3px; margin-bottom: 15px;">upvotes</h6>
    </div>
    <div id="details" style="display: table-cell; padding: 5px; width: 250px;">
      <div>
        <h2 style="top: 0px;"><a href="/servers/<%= server._id %>" style="text-decoration: none; color: #00a0d1;"><%= server.name %></a></h2>
          <% if(server.onlineStatus) {%>
            <p>Player count: <%= server.playerCount %></p>
            <%} else {%>
              Player count: <p style="color: red"> offline</p>
              <%}%>
              <!-- <p class="date">Date added: <%= server.dateAdded.toLocaleDateString() %></p>   -->
        <div style="overflow: hidden; font-size: 15px; color: grey; height: 35px; text-overflow: ellipsis;   display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; padding-right: 10px;"><%= server.description%></div>      
      </div>
    </div>
    <!-- <h6><a href="/account?id=<%= server.ownerID %>"><%= server.owner %></a></h6> -->
    <div id="banner" style="display: table-cell; width: 468px; padding-right: 10px;">
      <div style="display:flex; position: absolute; align-items: center; top: 0; bottom: 0;">
        <img src="/banners/<%= server.banner %>" alt="Server banner" style="width: 468px; height: 60px;">
      </div>
    </div>
    <div id="ip,vote" style="display: table-cell; position: relative;">
      <div id="ip" style="background-color: #444; padding: 10px; display: flex; align-items: center; justify-content: center; top: 0px; bottom: 50%; left: 0px; right: 0px; position: absolute; ">
        <p style="display: inline-block; color:aliceblue; font-weight:bold; "><%= server.ip %></p>
        <img src="icons/clipboard.svg" style="display: inline-block; width: 15px; padding-left: 5px; color:aliceblue"/>
      </div>
      <div id="votebutton" style="display: flex; justify-content: center; align-items: center; text-align: center; bottom: 0px; left: 0px; right: 0px; top: 50%; position: absolute; background-color: green;">
        <a href="/vote/" style="color: aliceblue; font-weight: bold;">vote for server</a>
      </div>
    </div>
  </div>
  <% }); %>
  <% if (totalPages > 1) { %>
    <div class="pagination-container">
      <% if (page > 1) { %>
        <li class="page-item" style="display: inline-block;">
          <a class="page-link" href="?page=<%= page - 1 %>" data-page="<%= page - 1 %>">&lt;</a>
        </li>
      <% } %>
      <% range = 2 %>
      <% for (let i = 1; i <= totalPages; i++) { %>
        <% if (i === 1 || i === totalPages || (Math.abs(page - i) <= range) || (i === page - 3) || (i === page + 3) || (i <= (3 * range + 1) && page <= (2 * range + 1)) || (i >= totalPages - (3 * range + 1) && page >= totalPages - (2 * range + 1))) { %>
          <li class="page-item <%= i === page ? 'active' : '' %>" style="display: inline-block;">
            <a class="page-link" <% if (i === parseInt(page)) {%>style="font-weight: bold;"<%}%> href="?page=<%= i %>" data-page="<%= i %>"><%= i %></a>
          </li>
        <% } else if (i === 2 && page > 4) { %>
          <li class="page-item disabled" style="display: inline-block;">
            <span class="page-link">...</span>
          </li>
        <% } else if (i === totalPages - 1 && page < totalPages - 3) { %>
          <li class="page-item disabled" style="display: inline-block;">
            <span class="page-link">...</span>
          </li>
        <% } %>
      <% } %>
      
      <% if (page < totalPages) { %>
        <li class="page-item" style="display: inline-block;">
          <a class="page-link" href="?page=<%= parseInt(page) + 1 %>" data-page="<%= parseInt(page) + 1 %>">&gt;</a>
        </li>
      <% } %>
    </div>
    
  <% } %>
</div>

<script>
  $('.pagination .page-link').click(function(e) {
    e.preventDefault();
    const page = $(this).data('page');
    // Make an AJAX request to the server to retrieve the results for the selected page
    // and update the page with the new results
  });
</script>
