
<h1><%= server.name %></h1> <!-- Insert the server name -->
<div class='server'>
<p>IP address: <%= server.ip %></p> <!-- Insert the server IP address -->
<p>Description: <%= server.description %></p> <!-- Insert the server description -->
<p class='date'>Date added: <%= server.dateAdded.toLocaleDateString() %></p>
<p>Status:
  <% if (server.status === 'online') { %> <!-- Check the server status and render the appropriate message -->
  Online
  <% } else { %>
  Offline
  <% } %>
</p>
      <!-- Display the upvote and delete buttons -->
      <div class="server-actions">
        <form action="/server/<%= server._id %>/upvote" method="post">
          <button type="submit">Upvote</button>
        </form>
        <form action="/server/delete/<%= server.id %>" method="get">
          <button type="submit">Delete</button>
        </form>
      </div>
</div>
