<div class="body" id="server-submit-body">

<h1>Submit a Server</h1>

<%if (typeof err != 'undefined') {%>
  <p style="color: red;"><%=err%></p>
<%}%>
  

<form action="/api/submit" method="post" enctype="multipart/form-data">
  <input type="hidden" name="serverID" id="serverID">
  <p>
    <label class="submissionlabel" for="name">Server Name:</label>
    <input class="submissionbox" type="text" name="name" id="name" required>
  </p>
  <p>
    <label class="submissionlabel" for="ip">Server Host:</label>
    <input class="submissionbox" type="text" name="ip" id="ip" required pattern="^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$|^(([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9\-]*[a-zA-Z0-9])\.)*([A-Za-z0-9]|[A-Za-z0-9][A-Za-z0-9\-]*[A-Za-z0-9])$">
    <input type="text" name="port" id="port" value="25565" required pattern="^([1-9]|[1-9][0-9]|[1-9][0-9][0-9]|[1-9][0-9][0-9][0-9]|[1-5][0-9][0-9][0-9][0-9]|6[0-4][0-9][0-9][0-9]|65[0-4][0-9][0-9]|655[0-2][0-9]|6553[0-5])$">
  </p>
  <p>
    <label class="submissionlabel" for="description">Description:</label>
    <textarea class="submissionbox" name="description" id="description" required></textarea>
  </p>
  <div class="form-group">
    <label for="server-categories">Categories:</label>
    <% for (category in categories) { %>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="<%= category %>" name="server-categories" value="<%= category %>">
        <label class="form-check-label" for="<%= category %>"><%= category %></label>
      </div>
    <% } %>
  </div>
  <p>
    <label class="submissionlabel" for="banner">Banner:</label>
    <input class="submissionbox" type="file" name="banner" id="banner" accept="image/gif, image/jpeg, image/jpg, image/png" required>
  </p>
  <p>
    <input type="submit" value="Submit Server">
  </p>
</form>

</div>